@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.nav-bar{
    height: 100px;
    display: flex;
    width: 80%;
    margin: 20px auto;
    align-items: center;
}
.logo{
    height: 80px;
    float: left;
}
.logo img{
        height: 100%;
        width: auto;
}
.menu {
    margin: 0 auto;
}
.menu a{
    margin-left: 15px ;
    margin-right: 15px ;
    text-decoration: none;
    font-weight: 600;
    color: #000;
}
.menu a:hover {
    border-top: 2px solid #0b58a1;
    padding-top: 15px;
}
input{
    border-left: none;
    border-bottom:  2px solid #0b58a1;
    border-top: none;
    border-right: none;
    background-color: transparent;
    outline: none;
    padding-bottom: 10px;
}
.fas{
   color:  #0b58a1; 
   cursor: pointer;
}
.content {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}
.text{
    width: 50%;
}
.image{
    width: 50%;
}
.image img {
    height: auto;
    width: 100%;
}
.btn{
    width: 50px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 0px 20px 0px rgb(97,166,234,0.75);
-moz-box-shadow: 1px 0px 20px 0px rgb(97,166,234,0.75);
box-shadow: 1px 0px 20px 0px rgb(97,166,234,0.75);
}
.video {
    display: flex;
    padding-left: 20px;
}